body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f9fb;
  color: #1f2937;
  text-align: center; /* CENTRALIZA TEXTO GLOBAL */
}

/* CABEÇALHO */
header {
  padding: 50px 20px;
  background: linear-gradient(135deg, #6d28d9, #2563eb);
  color: white;
}


/* SEÇÕES */
section {
  background: white;
  margin: 20px auto;
  padding: 25px;
  width: 85%;
  max-width: 850px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border-left: 6px solid #6d28d9;
  text-align: left; /* conteúdo das caixas alinhado à esquerda */
}

/* TÍTULOS */
h1 {
  margin: 10px 0;
}

h2 {
  color: #6d28d9;
  margin-bottom: 15px;
  border-bottom: 2px solid #e9d5ff;
  padding-bottom: 5px;
}

h3 {
  color: #4f46e5;
}

/* TEXTO */
p, li {
  line-height: 1.6;
  color: #374151;
}

/* LINKS */
a {
  color: #6d28d9;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #2563eb;
  text-decoration: underline;
}

/* LISTAS */
ul {
  padding-left: 20px;
}
header img {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


